body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #000000;
	background-color: #FCFAF4;
}

.container {
	max-width: 1286px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: center;
}
