body {
  height: 100%;
  font-family: "Noto Sans";
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  color: #0e0e0e;
  background-color: #fcfaf4;
}

body._lock {
	overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Viaoda Libre";
  font-style: normal;
  font-weight: 400;
  font-size: calc(24px + 40 * (100vw / 1440));
  line-height: calc(90 / 64 * 100%);
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

h2 {
  font-family: "Viaoda Libre";
  font-style: normal;
  font-weight: 400;
  font-size: calc(24px + 53 * (100vw / 1440));
}

.container {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.header {
  width: 100%;
  margin: 32px auto;
}

.header_container {
  min-height: 70px;
  border-top: 1px solid #0e0e0e;
  border-bottom: 1px solid #0e0e0e;
}

/* logo */
.header__logo {
  margin: -1px 48px 0 0;
  position: relative;
  top: 1.4px;
}

/* nav */
.header__nav {
  margin: 0 42px 0 auto;
}

.header__nav_list {
  flex-wrap: wrap;
}

.header__nav_list li:not(:last-child) {
  margin: 0 32px 0 0;
}

.header__nav_list li > a {
  line-height: calc(27 / 20 * 100%);
  padding: 15px 0;
}

.header__nav_list li > a:hover {
  color: #97c4dd;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 32px;
  height: 16px;
  background-color: #fcfaf4;
  border: none;
  outline: none;
  z-index: 5;
}

/* contact */
.header__contact a {
  margin: 1px 1px 0 7px;
}

.header__contact_img_ml {
  margin-left: 1px;
}

.menu__icon {
  display: none;
}

/* banner */
main {
  flex: 1 1 auto;
}

.banner {
  margin-bottom: 150px;
}

.banner_text {
  max-width: 721px;
  padding: 31px 0px 0px 0px;
}
.banner_text p {
  font-size: calc(16px + 8 * (100vw / 1440));
  line-height: calc(35 / 24 * 100%);
  margin: 0 0 48px 0;
}

.banner_text h3 {
  font-style: normal;
  font-size: calc(16px + 12 * (100vw / 1440));
  line-height: calc(38 / 28 * 100%);
  margin: 0 0 16px 0;
}

.btn {
  display: inline-flex;
}

.banner_btn {
  display: flex;
  height: 52px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: calc(35 / 24 * 100%);
  background-color: #97c4dd;
  color: #ffffff;
  padding: 0 35.5px;
  text-align: center;
}

.banner_btn:hover {
  background-color: #72b6e8;
}

.banner_img {
  display: flex;
  flex: 0 0 45%;
  max-width: 518px;
  max-height: 700px;
  margin-top: 32px;
}

.banner_img__photo {
  width: 100%;
}

.banner_text__small {
  display: none;
}

/* -----------------------line vector------------ */
.line_vector {
  position: absolute;
  left: 0;
  top: 687px;
  z-index: -5;
}

.line_vector img {
  display: flex;
  width: 430px;
  height: 672px;
}

.line_vector2 {
  position: absolute;
  right: 0;
  top: 1605px;
  z-index: -5;
}

.line_vector3 {
  position: absolute;
  right: 0;
  top: 3191px;
  z-index: -5;
}

.line_vector4 {
  position: absolute;
  left: 0;
  top: 4158px;
  z-index: -5;
}

.line_vector5 {
  position: absolute;
  right: 0;
  top: 4737px;
  z-index: -5;
}

/* ---------------------About me---------------- */
.about_me {
  margin-bottom: 150px;
}

.about_me__title {
  width: 216px;
  margin: 0 auto 10px auto;
  padding: 2px 0 0 0;
}

.about {
  display: block;
  margin: 0 0 -13.5px 0;
  text-align: right;
  position: relative;
  left: -84px;
}

.me {
  display: block;
  text-align: left;
  font-size: calc(24px + 37 * (100vw / 1440));
  position: relative;
  left: 117px;
}

.about_me__img {
  display: flex;
  flex: 0 0 49%;
  max-width: 628px;
  max-height: 530px;
}
.about_me__img img {
  max-width: 100%;
}

.about_me__text {
  max-width: 588px;
  padding: 2px 0 0 15px;
}

.about_me__text p {
  font-size: 20px;
  line-height: calc(28 / 20 * 100%);
}

.about_me__text > p:not(:last-child) {
  margin-bottom: 24px;
}

/* help you */
.help_you {
  margin-bottom: 151px;
}

.help_you__title {
  width: 356px;
  margin: 0 auto;
}

.help_you__title {
  padding: 16px 0 0 0;
}

.i_help {
  display: block;
  margin: 0 0 -13.5px 0;
  text-align: right;
  position: relative;
  left: -64px;
}

.you {
  display: block;
  text-align: left;
  font-size: calc(24px + 37 * (100vw / 1440));
  position: relative;
  left: 259px;
  top: 14px;
}

.help_you__title_wrap {
  position: relative;
  margin-bottom: 67px;
}

.help_you__hint {
  position: absolute;
  top: 102px;
  right: 78px;
}

.help_you__hint p {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: calc(19 / 14 * 100%);
}

.help_you__hint_small {
  display: none;
}

.help_you__hint_arrow {
  width: 54px;
  height: 43.69px;
  margin: 0 0 0 -14px;
}

.help_you__inform {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 299.4px);
}

.help_you__inform_item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #fcfaf4;
  padding: 0 12px 0 12px;
  height: 298.4px;
  font-size: calc(18px + 6 * (100vw / 1440));
  line-height: calc(33 / 24 * 100%);
  border: 1px solid #0e0e0e;
  border-left-width: 0;
  border-bottom-width: 0;
}

.help_you__inform_item p {
  max-width: 380px;
}

.help_you__inform_item:first-child {
  border-left-width: 1px;
}

.help_you__inform_item:nth-child(4) {
  border-left-width: 1px;
}

.help_you__inform_item:nth-child(n + 4) {
  border-bottom-width: 1px;
}

/* more about me */
.more_about_me {
  margin-bottom: 151px;
}

.more_about_me__inform {
  padding: 0 15px 0 0;
  display: flex;
  flex: 0 0 31.7%;
  flex-direction: column;
}

.more_about_me__inform_title {
  margin-bottom: 82.8px;
}

.more_title__part_one {
  display: block;
  margin: 0 0 -13.5px 0;
  text-align: left;
  position: relative;
  right: 0;
  line-height: calc(110 / 77 * 100%);
}

.more_title__part_two {
  display: block;
  text-align: center;
  font-size: calc(24px + 37 * (100vw / 1440));
  position: relative;
  left: 78px;
  top: 14px;
  line-height: calc(30 / 61 * 100%);
}

.more_about_me__inform_answers div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 408px;
  height: 53.8px;
  border-bottom: 1px solid #0e0e0e;
  margin-bottom: 24px;
}

.more_about_me__inform_answers div::after {
  content: "";
  background-image: url(../images/icon/frame90.svg);
  background-size: 19px 13px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 19px;
  height: 13px;
  position: relative;
  top: 6px;
}

.more_about_me__inform_answers p {
  max-width: 279px;
  font-size: calc(18px + 14 * (100vw / 1440));
  line-height: calc(35 / 32 * 100%);
  text-align: left;
}

.more_about_me__img {
  display: flex;
  flex: 0 0 62%;
  max-width: 765px;
  max-height: 494px;
  margin-top: 81px;
}
.more_about_me__img img {
  max-width: 100%;
}

/* Price */
.price {
  margin-bottom: 150px;
}

.price_title {
  text-align: center;
  line-height: calc(86 / 61 * 100%);
  font-size: calc(22px + 39 * (100vw / 1440));
  margin: 0 0 40px 0;
}

.price_text {
  text-align: center;
  font-size: calc(16px + 8 * (100vw / 1440));
  line-height: calc(35 / 24 * 100%);
  margin: 0 0 32px 0;
}

.price_text > p:not(:last-child) {
  margin: 0 0 16px 0;
}

.price_table {
  justify-content: center;
}

.price_table__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fcfaf4;
  width: 429.33px;
  height: 348px;
  padding: 0 10px;
  border: 1px solid #0e0e0e;
  border-left-width: 0;
}

.price_table .price_table__item:first-child {
  border-left-width: 1px;
}

.price_table__item p:first-child {
  margin-bottom: 74px;
  font-size: calc(16px + 8 * (100vw / 1440));
  line-height: calc(35 / 24 * 100%);
}

.price_table__item p:last-child {
  font-size: calc(18px + 10 * (100vw / 1440));
  line-height: calc(38 / 28 * 100%);
}

/* Слайдер */
.reviews {
  margin-bottom: 150px;
}

.reviews__title {
  font-weight: 400;
  font-size: calc(22px + 39 * (100vw / 1440));
  line-height: calc(86 / 61 * 100%);
  text-align: center;
  margin-bottom: 40px;
}

.reviews__title_text {
  display: none;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.reviews__slider {
  position: relative;
  max-width: 1132px;
  height: 350px;
  margin: 0 auto;
  background-color: #dfeef3;
  min-width: 0;
  cursor: pointer;
}

.reviews__slider_item {
  display: flex;
  min-width: 0;
  margin-left: 48px;
  margin-right: 48px;
  padding-top: 84.5px;
}

.reviews__slider_item__img {
  display: flex;
  flex: 0 0 17%;
  align-items: center;
  max-width: 180px;
  max-height: 170.95px;
  margin-right: 32px;
  position: relative;
}

.reviews__slider_item__img img {
  max-width: 100%;
  position: absolute;
}

.reviews__slider_item__text {
  max-width: 824px;
}

.reviews__slider_item__text p:last-child {
  font-size: 18px;
  line-height: 24px;
}

.reviews__slider_item__text_small {
  display: none;
}

.slick-track {
  transform: translate3d(-820px, -20px, 0px);
}

.reviews__slider_item__text h4 {
  font-size: calc(14px + 6 * (100vw / 1440));
  line-height: calc(27 / 20 * 100%);
  margin-bottom: 10px;
}

.reviews__slider_item__text_inst {
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: calc(22 / 16 * 100%);
  margin-bottom: 14px;
}

.reviews__slider_item__text:last-child {
  font-size: calc(14px + 6 * (100vw / 1440));
  line-height: calc(27 / 20 * 100%);
}

/* Стрелки слайдера */
.reviews__slider .slick-arrow {
  position: absolute;
  top: 49%;
  z-index: 10;
  font-size: 0;
  width: 34px;
  height: 24px;
  border: none;
}

.reviews__slider .slick-arrow.slick-prev {
  background: url(../images/icon/arrow-left.svg) 0 0 / 100% no-repeat;
  left: -51px;
  cursor: pointer;
}

.reviews__slider .slick-arrow.slick-next {
  background: url(../images/icon/arrow-right.svg) 0 0 / 100% no-repeat;
  right: -51px;
  cursor: pointer;
}

/* consultation FORM */
.consultation {
  margin-bottom: 150px;
}

.consultation__wrap {
  max-width: 1130px;
  margin: 0 auto;
}

.consultation__title {
  text-align: center;
  font-size: calc(22px + 39 * (100vw / 1440));
  line-height: calc(87 / 61 * 100%);
  margin-bottom: 40px;
}

.consultation__img {
  display: flex;
  flex: 0 0 44%;
  max-width: 543px;
  max-height: 600px;
  position: relative;
  margin-right: 52px;
}
.consultation__img img {
  max-width: 100%;
  position: absolute;
}

.consultation__form_wrap {
  padding-top: 61px;
  display: flex;
  flex-direction: column;
  flex: 0 1 52%;
  max-width: 585px;
  box-sizing: content-box;
  background-color: #fcfaf4;
}

.consultation__form_title {
  font-size: calc(16px + 8 * (100vw / 1440));
  line-height: calc(35 / 24 * 100%);
  margin-bottom: 24px;
}

.consultation__form_item {
  flex-direction: column;
  max-width: 580px;
  margin-bottom: 25px;
}

.consultation__form_item input {
  font-family: "Noto Sans";
  font-size: calc(14px + 4 * (100vw / 1440));
  line-height: calc(25 / 18 * 100%);
  font-weight: 300;
  padding: 10px 0 9.7px 0;
  margin-bottom: 7px;
  border: none;
  border-bottom: 1px solid #747474;
  background: none;
}

.consultation__form_item input:focus {
  outline: none;
  border-bottom: 1px solid #97c4dd;
}

.consultation__form_item input:last-child {
  margin-bottom: 0;
}

.consultation__form_checkbox {
  margin-bottom: 30px;
}

.consultation__form_checkbox_text {
  font-size: calc(16px + 4 * (100vw / 1440));
  line-height: calc(27 / 20 * 100%);
  margin-bottom: 25px;
}

.consultation__form_checkbox_item {
  font-size: calc(14px + 4 * (100vw / 1440));
  line-height: calc(24 / 18 * 100%);
  margin-bottom: 15px;
}

.consultation__form_checkbox_item input {
  margin-right: 12px;
  width: 18px;
  height: 20px;
  vertical-align: middle;
}
.consultation__form_checkbox_item:last-child {
  margin-bottom: 0;
}

.consultation__form_checkbox_social {
  position: relative;
  left: -4px;
}

.consultation__form_button {
  font-family: "Noto Sans";
  font-size: 24px;
  line-height: calc(35 / 24 * 100%);
  padding: 9.5px 38.5px;
  background-color: #97c4dd;
  color: #ffffff;
  border: none;
  margin-bottom: 61px;
}

/* footer */
.footer {
  margin-bottom: 32px;
}

.footer__wrap {
  border-top: 1px solid #0e0e0e;
}

.footer__menu {
  padding-top: 10px;
  margin-bottom: 14px;
}

.footer__menu_logo {
  font-family: "Viaoda Libre";
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 12 * (100vw / 1440));
  line-height: calc(45 / 32 * 100%);
}

.footer__menu_logo a {
  padding: 5px 0;
}

.footer__menu_nav {
  padding-top: 8px;
}

.footer__menu_nav li {
  font-size: calc(16px + 4 * (100vw / 1440));
  line-height: calc(27 / 20 * 100%);
  margin-left: 49px;
}

.footer__menu_nav li > a {
  padding: 15px 0;
}

.footer__menu_nav li > a:hover {
  color: #97c4dd;
}

.footer__contact_img {
  margin: -1px 1.6px;
}

.footer__contact_img_ml {
  margin: 0 0 0 2px;
}

.footer__contact_email {
  padding-top: 8px;
}

.footer__contact_email a {
  font-size: calc(16px + 4 * (100vw / 1440));
  line-height: calc(27 / 20 * 100%);
  color: #0e0e0e;
}

.footer__contact_email a:hover {
  color: #97c4dd;
}

/* -------------------------------------------------------*/
@media (max-width: 1202px), (min-width: 1550px) {
  br {
    display: none;
  }
}

/* --------------------------------------------------------*/
@media (max-width: 992px) {
  .header__nav {
    margin: 0 20px 0 auto;
  }

  .header__logo {
    margin: -1px 20px 0 0;
  }

  .header__nav_list li:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .header__nav_list li > a {
    font-size: 20px;
  }

  /*------------------------------------------*/
  .line_vector {
    top: 463px;
  }

  .line_vector img {
    display: flex;
    width: 330px;
    height: 572px;
  }

  .line_vector2 {
    top: 1145px;
  }

  .line_vector3 {
    top: 2530px;
  }

  .line_vector4 {
    top: 3344px;
  }

  .line_vector5 {
    top: 4000px;
  }

  /*-----------------------------------------*/
  .banner_img {
    max-width: 283px;
    max-height: 370px;
  }

  /* --------------------------------------- */
  .about_me__text p {
    font-size: 16px;
  }

  /*------------------------------------------*/
  .help_you__inform_item {
    height: 298.4px;
    font-size: 18px;
  }

  .i_help {
    left: -92px;
  }

  .you {
    left: 228px;
  }

  .help_you__hint {
    display: none;
  }

  .help_you__title {
    margin-bottom: 24px;
  }

  .help_you__hint_small {
    display: block;
    font-size: 20px;
    text-align: center;
  }

  /* -----------------------------------------*/
  .price_table__item {
    height: 190px;
  }

  .price_table__item p:first-child {
    margin-bottom: 32px;
    font-size: 18px;
  }
  .price_table__item p:last-child {
    font-size: 22px;
  }

  /* -----------------------------------------*/
  .consultation__wrap {
    max-width: 740px;
    border: 1px solid #0e0e0e;
    background-color: #fcfaf4;
  }

  .consultation__title {
    margin: 36px 0 16px 0;
  }

  .consultation__form_wrap {
    padding-top: 0;
    margin: 0 auto;
  }

  .consultation__img {
    display: none;
  }

  .consultation__form_title {
    text-align: center;
  }

  .consultation__button {
    text-align: center;
    margin: 0 auto 61px auto;
  }

  .consultation__form_button {
    margin: 0;
  }

  /* -----------------------------------------*/
  .footer__menu_nav li {
    margin-left: 25px;
  }
}

/* ================================================ */

@media (max-width: 767px) {
  .banner {
    margin-bottom: 120px;
  }

  .banner_text h3 {
    font-size: calc(16px + (12 * 0.7) * ((100vw - 320px) / 1440));
  }

  h1 {
    font-size: calc(24px + (40 * 0.7) * ((100vw - 320px) / 1440));
  }

  .banner_text p {
    font-size: 16px;
  }

  .banner_img {
    max-width: 250px;
    max-height: 337px;
  }

  /* БУРГЕР */
  .header__nav {
    position: fixed;
    top: -300px;
    width: 100%;
    background-color: #fcfaf4;
    visibility: hidden;
	 overflow: hidden;
	 transition: transform 0.5s, visibility .9s ;
  }

  .header__nav_list {
    display: block;
    text-align: center;
  }

  .header__nav_list li:not(:last-child) {
    margin: 0;
  }

  .header__nav_list li > a {
	font-size: 18px;
    padding: 10px 0;
  }

  .menu__link {
    display: block;
  }

  .header.open .header__nav {
	transform: translateY(300px);
	visibility: visible;
	margin-top: 32px;
	border-top: 1px solid #0e0e0e;
	border-bottom: 1px solid #0e0e0e;
 }

  .header__burger-btn {
    display: block;
    order: 3;
    margin: 16px;
  }

  .header__burger-btn span {
    position: absolute;
    width: 32px;
    height: 0.8px;
    left: 0;
    background-color: #0e0e0e;
    transition: background-color 0.5s, opasity 0.25s, transform 0.5s;
    will-change: transform;
  }

  .header__burger-btn span:nth-child(1) {
    transform: translateY(-7px);
  }
  .header__burger-btn span:nth-child(2) {
  }
  .header__burger-btn span:nth-child(3) {
    transform: translateY(7px);
  }

  /* КРЕСТИК */
  .header.open .header__burger-btn span:nth-child(1) {
	width: 20px;
    transform: translateY(0) rotate(45deg);
  }
  .header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
  }
  .header.open .header__burger-btn span:nth-child(3) {
	width: 20px;
    transform: translateY(0) rotate(-45deg);
  }



  /* ------------------------------------------- */
  .line_vector {
    display: none;
  }

  .line_vector2 {
    display: none;
  }

  .line_vector3 {
    display: none;
  }

  .line_vector4 {
    display: none;
  }

  .line_vector5 {
    display: none;
  }

  /* ------------------------------------------- */

  .about_me {
    margin-bottom: 120px;
  }

  .about_me__title {
    margin: 0 auto 20px auto;
  }

  h2 {
    font-size: calc(24px + (53 * 0.7) * ((100vw - 320px) / 1440));
  }

  .me {
    font-size: calc(24px + (37 * 0.7) * ((100vw - 320px) / 1440));
  }

  .about_me__img {
    flex: 0 0 34%;
    max-width: 247px;
    max-height: 340px;
  }

  .about_me__info {
    flex-direction: column;
  }

  .about_me__text {
    padding: 16px 0 0 0px;
    font-size: 16px;
  }

  /* ------------------------------------------- */
  .help_you__title_wrap {
    margin-bottom: 40px;
  }

  .help_you {
    margin-bottom: 120px;
  }

  .help_you__title {
    width: 235px;
  }

  .i_help {
    left: -66px;
  }

  .you {
    font-size: calc(24px + (37 * 0.7) * ((100vw - 320px) / 1440));
    left: 150px;
  }

  .help_you__hint_arrow {
    width: 40px;
    height: 30.69px;
  }

  .help_you__hint {
    display: none;
  }

  .help_you__hint_small {
    font-size: 16px;
  }

  .help_you__inform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 299.4px);
  }

  .help_you__inform_item {
    border-left-width: 1px;
  }

  .help_you__inform_item:nth-child(odd) {
    border-right-width: 0px;
  }

  .help_you__inform_item p {
    max-width: 295px;
  }

  /* ------------------------------------------- */
  .more_about_me {
    margin-bottom: 120px;
  }

  .more_about_me__inform_title {
    margin-bottom: 70.8px;
  }

  .more_title__part_two {
    font-size: calc(24px + (53 * 0.7) * ((100vw - 320px) / 1440));
    left: 20px;
  }

  .more_about_me__inform_answers p {
    font-size: calc(14px + 14 * (90vw / 1440));
    line-height: calc(35 / 32 * 100%);
  }

  .more_about_me__inform_answers div {
    margin-bottom: 12px;
  }

  /* ------------------------------------------- */
  .price {
    margin-bottom: 120px;
  }

  .price_title {
    font-size: calc(24px + (53 * 0.7) * ((100vw - 320px) / 1440));
    margin: 0 0 20px 0;
  }

  .price_text {
    font-size: calc(13px + 8 * (100vw / 1440));
    line-height: calc(28 / 24 * 100%);
  }

  .price_table__item p:first-child {
    margin-bottom: 24px;
    font-size: 16px;
  }

  .price_table__item p:last-child {
    font-size: 20px;
  }

  .price_table {
    flex-direction: column;
    align-items: center;
  }

  .price_table__item {
    height: 190px;
    width: 233px;
    padding: 0 10px;
    border: 1px solid #0e0e0e;
    border-bottom-width: 0;
  }

  .price_table__item:last-child {
    border-bottom-width: 1px;
  }

  /* ------------------------------------------- */
  .reviews {
    margin-bottom: 120px;
  }

  .reviews__title {
    font-size: calc(24px + (53 * 0.7) * ((100vw - 320px) / 1440));
    margin-bottom: 20px;
  }

  .reviews__slider {
    height: 280px;
  }

  .reviews__slider_item {
    padding-top: 50.5px;
  }

  .reviews__slider_item__text p:last-child {
    font-size: calc(14px + 6 * (100vw / 1440));
  }

  /* ------------------------------------------- */
  .consultation {
    margin-bottom: 120px;
  }

  .consultation__wrap {
    max-width: 570px;
  }

  .consultation__title {
    font-size: calc(22px + (39 * 0.7) * ((100vw - 320px) / 1440));
  }

  .consultation__form_title {
    font-size: calc(14px + 8 * (100vw / 1440));
  }

  .consultation__form_checkbox_text {
    font-size: calc(14px + 4 * (100vw / 1440));
  }

  /* ---------------------------------------- */

  .footer__wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer__menu_nav {
    display: none;
  }

  .footer__contact_email {
    display: none;
  }

  .footer__contact {
    max-width: 700px;
  }

  .footer__menu_logo {
    font-size: calc(16px + 12 * (100vw / 1440));
  }
}

/* ==================================== */

@media (max-width: 575px) {
  /* ---------------------------------- */
  .banner {
    margin-bottom: 100px;
  }

  .banner_text {
    text-align: center;
    padding: 0px 0px 0px 0px;
  }

  .banner_text h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .banner_text h1 {
    margin-bottom: 16px;
  }

  .banner_img {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .banner_text p {
    display: none;
  }

  .banner_text .btn {
    display: none;
  }

  .banner_text__small {
    display: block;
  }

  .banner_text__small p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 231px;
  }

  .btn_small {
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: calc(35 / 24 * 100%);
    background-color: #97c4dd;
    color: #ffffff;
    padding: 0 35.5px;
    text-align: center;
  }

  .banner_btn__small p {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  .banner_small {
    flex-direction: column;
  }

  /* ------------------------------------- */

  /* ------------------------------------- */
  .about_me {
    margin-bottom: 100px;
  }

  .about {
    left: -101px;
  }

  .me {
    left: 108px;
    top: 4px;
  }

  .about_me__info {
    flex-direction: column;
  }

  .about_me__text {
    padding: 16px 0 0 0px;
    font-size: 16px;
  }
  /* -------------------------------------- */
  .help_you {
    margin-bottom: 100px;
  }

  .help_you__title {
    padding: 0 0 0 0;
  }

  .i_help {
    left: -86px;
  }

  .you {
    left: 133px;
  }

  .help_you__inform {
    justify-content: center;
    grid-template-columns: repeat(1, 289px);
    grid-template-rows: repeat(6, 269px);
  }

  .help_you__inform_item:nth-child(odd) {
    border-right-width: 1px;
  }

  .help_you__inform_item {
    height: 269px;
  }

  .help_you__inform_item:nth-child(4),
  .help_you__inform_item:nth-child(5) {
    border-bottom: 0;
  }

  /* ------------------------------------ */
  .more_about_me {
    margin-bottom: 100px;
  }

  .more_about_me__img {
    display: none;
  }

  .more_title__part_one {
    text-align: center;
    right: 50px;
  }

  .more_about_me__inform_title {
    margin-bottom: 35.8px;
  }

  .more_about_me__inform_answers div {
    max-width: 540px;
  }

  .more_about_me__inform {
    flex: 0 0 100%;
  }
  /* --------------------------------------- */
  .price {
    margin-bottom: 100px;
  }
  /* ----------------------------------------- */
  .reviews {
    margin-bottom: 100px;
  }

  .reviews__title {
    margin-bottom: 16px;
  }

  .reviews__title_text {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .reviews__slider {
    height: auto;
  }

  .reviews__slider_item__img img {
    width: 39px;
    height: 37px;
    position: absolute;
  }

  .reviews__slider_item__img {
    display: inline-block;
    width: 39px;
    height: 37px;
    margin-right: 2px;
  }

  .reviews__slider_item__text {
    display: inline-block;
    vertical-align: top;
  }

  .reviews__slider_item {
    display: inline-block;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 16px;
    margin-bottom: 16px;
  }

  .reviews__slider_item__text h4 {
    font-size: 14px;
    line-height: calc(27 / 20 * 100%);
    margin-bottom: 1.66px;
  }

  .reviews__slider_item__text_inst {
    font-size: 12px;
    line-height: calc(22 / 16 * 100%);
    margin-bottom: 8.34px;
  }

  .reviews__slider_item__text p:last-child {
    display: none;
  }

  .reviews__slider_item__text_small {
    display: block;
    font-size: 14px;
    line-height: 18px;
  }

  /* ----------------------------------------- */
  .consultation {
    margin-bottom: 100px;
  }

  .consultation__form_wrap {
    flex: 0 1 73%;
    max-width: 275px;
  }
  /* ------------------------------------------- */
  .footer {
    margin-bottom: 24px;
  }

  .footer__menu_logo {
    font-size: calc(12px + 12 * (100vw / 1440));
  }
}
